.page .page-current-user .page-current-user-log-out {
  float: right;
  position: relative;
  top: -0.25em;
}

.page .page-flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page .page-flex-container .page-body {
  flex: 1;
}
