.spell-block .spell-block-level-school {
  font-style: italic;
}

.spell-block .spell-block-name {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.spell-block .spell-block-stats {
  margin-bottom: 1rem;
}

.spell-block .spell-block-stats p {
  margin-bottom: 0;
}
